/* Mengatur semua elemen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setelan umum untuk body */
body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* Navbar*/
.navbar-custom {
    background-color: #004080; /* Warna Biru Gelap */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white; /* Warna Teks Putih */
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: #cce5ff; /* Hover efek - Biru Muda */
}

.custom-btn {
    background-color: #004080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #003366;
}

/* Hero */
.hero {
    background: #cce5ff;
    padding: 60px 0;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 45px;
    font-weight: bold;
    color: black;
}

.hero p{
    font-size: larger;
    color: black;
}

/* Section umum */
.section-box {
    padding: 40px 0;
    background: white;
    margin: 20px 0;
}

.section-box h2{
    font-weight: bold;
}

/* Card anggota */
.member-card {
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    color: white;
}

.card-text{
    color: white;
}

/* Footer */
.footer-custom {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 15px 0;
}

footer p {
    margin: 0;
}
